.start {
    margin-top: 300px;
    margin-bottom: 355px;
}

.start p {
    font-size: 36px;
}

.login-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
    margin: 0 auto;
}

.login_fom {
    width: 400px;
}

#reg {
    font-size: 18px;
}

#create {
    font-size: 18px;
}

#create:hover {
    opacity: 0.9;
    cursor: pointer;
    color: #354461;
}

.text {
    margin-top: 10px;
}

.text p{
    display: inline;
    opacity: 0.4;
}

.loader {
    height: 100vh;
    opacity: 0.6;
    pointer-events: none;
}